{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block main %}
    <div class="page">
            <div class="logo">
                <p>Book reviews</p>
            </div>
            <div class="navbar-search navbar-index">
                <a href={{url_for('register') }}>register</a>
                <a href={{url_for('search') }}>search</a>
                <a href="">contact</a>
            </div>
            <form action="/index" method="POST">
                <div class="login-page">
                    <div class="login-page-item">
                        <input type="text" name="username" placeholder="username" autofocus>
                    </div>
                    <div class="login-page-item">
                        <input type="password" name="password" placeholder="password">
                    </div>
                    {% if which_error == "not" %}
                        <h3 style="color:rgb(43, 43, 43)">You didn't fill out the form</h1>
                    {% endif %}
                    {% if which_error == "no user" %}
                        <h3 style="color:rgb(43, 43, 43)">Incorrect username</h1>
                    {% endif %}
                    {% if which_error == "password" %}
                        <h3 style="color:rgb(43, 43, 43)">Incorrect password</h1> 
                    {% endif %}  
                    <div class="login-page-item1">
                        <a href={{ url_for('search') }} class="item-log" id="log"><button type="submit">Log in</button></a>
                        <div>
                            <p>Don't have an account? <a href={{ url_for('register') }} id="sign">Sign up</a></p>
                        </div>
                       
                    </div>
                </div>
            </form>
    </div>
{% endblock %}