<!DOCTYPE html>

<html lang="en">
    <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--Google fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Dokdo">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <!--Internal CSS stylesheet-->
    <link href="/static/styles.css" rel="stylesheet">
    <title>Book review - {% block title %}{% endblock %}</title>
  </head>
  <body>
    {% block main %}
    {% endblock %}

  </body>
</html>